# Ignore massive data files
*.tsv
*.tsv.gz
metadata.tsv.gz

# Exclude the dashboard code (keeping it private for now)
app.py

# Ignore Mac system files
.DS_Store

# Ignore Python cache and environments
__pycache__/
*.pyc
.env